/* Markdown */
:root {
  --maincolor: rgb(67, 34, 232);
  --bordercl: rgb(0, 0, 0);
  --callouctcolor: dodgerblue;
  --hovercolor: transparent;
  --darkMaincolor: #50fa7b;
}

a {
  border-bottom: 1px solid var(--maincolor);
  color: inherit;
  text-decoration: none;
}
a:hover {
  border-bottom: 3px solid var(--maincolor);
  background-color: var(--hovercolor);
  color: inherit;
}

/* Footer */
footer {
  border-top: 1px solid var(--bordercl);
  padding: 1rem 0rem;
}

.footer-donation > p {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.footer-disclaim > p {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.footer-github {
  margin-left: auto;
  float: right;
}

.footer-info {
  font-size: 0em;
}

/* Tags */
.tags li::before {
  content: "🏷 ";
}
.tags a {
  border-bottom: 1px solid var(--maincolor);
}
.tags a:hover {
  border-bottom: 3px solid var(--maincolor);
  color: inherit;
  background-color: var(--hovercolor);
}

.soc:hover {
  color: inherit;
}

/* Aside */
aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px var(--maincolor);
  font-style: italic;
  color: #29627e;
}

aside > p {
  margin: 0.5rem;
}